@import "../variables.scss";

.placeholder {
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: $margin auto;
  // height: 25vh;
  padding: $margin;

  @media screen and (max-width: 800px) {
    width: 80%;
    // height: 30vh;
  }

  @media screen and (max-width: 600px) {
    width: 90%;
    // height: 35vh;
  }

  .place-title {
    font-size: 1.8rem;
  }
  .phonetic,
  .noun {
    color: $grey;
  }
  .noun {
    font-weight: 100;
    font-size: 1rem;
    font-style: italic;
  }
  .meaning {
    margin: 12px 0;
  }
  .example {
    font-size: 0.8rem;
    font-weight: 800;
    font-style: italic;
  }
}
